@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

    $fuente_p: 'outfit', sans-serif;
    $fuente_s: 'Roboto', sans-serif;
    $negro: #000000;
    $blanco: #ffffff;
    $rojo: #b00000;
    $azul: #0f1fc4;

    
    // Tamaños de mq
    $telefono: 480px;
    $tablet: 768px;
    $desktop: 992px;
    $desktopxl: 1200px;

